<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link href="https://fonts.googleapis.com/css?family=Sorts+Mill+Goudy" rel="stylesheet">
    <link rel="stylesheet" href="/main.css">

  </head>
    <body>

      <div class="back-button">
         <a href="/billiards"><button class="back-button">BACK</button></a>
        </div>

        <div class="zoom">
          <a href="/billiards/english"><button class="rdy-break-button"><br/>CLICK TO BREAK</button></a>
        </div>

      <div id="two-column">

        <p><p><strong>Racking</strong></p>To begin a game of 8 ball, start by "racking" the balls on the table, using the triangular shaped tool, or rack, to rack the balls. All balls should be "frozen", or touching, as tightly as possible when "racking" or setting the balls up to break. Place the balls in the rack on the table. The black 8 ball should be located in the center of the racked balls. The top of the triangle or front ball, should placed on the "foot spot" or dot located on one side of the table. Now, you're ready to break!</p>

        <p><img src="http://leagues.playpool.net/images/print_table_diagram.gif" alt="foot spot" style="width:450px;height:250px;"></p><br/>


        <p><p><strong>Breaking</strong></p>When performing the break, the breaking player must break from behind the head string, which is a section of the top of the table (SEE DIAGRAM). Pull back on the pool stick and hit the cue ball. The front ball or second row of balls must be struck first and at least four of the balls in the break must touch a rail or a ball must be pocketed. You can't shoot at a rail before breaking, this makes the break illegal. If the break is illegal, the balls are reracked and rebroken by the same player. If an illegal break results in the cue ball going into a pocket (scratch), the opponent becomes the breaking player.</p>

        <p><img src="https://media0.giphy.com/media/OWvPuHzGysuGs/giphy.gif" alt="breaking" style="width:450px;height:250px;"></p>

    </div>

  </body>

</html>
