<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link href="https://fonts.googleapis.com/css?family=Sorts+Mill+Goudy" rel="stylesheet">
    <link rel="stylesheet" href="/main.css">

  </head>
  <body>

  <!-- <h2>Racking & Breaking</h2> -->

  <div class="zoom">
    <a href="/billiards/eight"><button class="rdy-break-button"><br/>CLICK TO BREAK</button></a>
  </div>

<div id="demoparagraph">

  <h2>Racking & Breaking</h2>

<p><strong>Racking</strong></p>
<p>All balls should be frozen (touching) as
tightly as possible. Balls are racked with the front ball
on the foot spot and the 8-ball in the center. The
breaking player may request and receive a rerack.</p>

<p><img src="http://leagues.playpool.net/images/print_table_diagram.gif" alt="foot spot" style="width:450px;height:250px;"></p><br/>


<p><p><strong>Breaking</strong><br/>When performing the break, players must break
from behind <br/> the head string. The front ball or second row of balls must be struck first <br/> and at least four of the balls in the break must touch a rail <br/> or a ball must be pocketed. You can't shoot at a rail before breaking. <br/> If the break is illegal, the balls are reracked and
rebroken by the same <br/> player. If the break is illegal and results in the cue ball going into <br/> a pocket (scratch), the players switch roles.</p></p>

  <p><img src="https://media0.giphy.com/media/OWvPuHzGysuGs/giphy.gif" alt="breaking" style="width:450px;height:250px;"></p>

</div>

  </body>

</html>
