<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link href="https://fonts.googleapis.com/css?family=Sorts+Mill+Goudy" rel="stylesheet">
    <link rel="stylesheet" href="/main.css">

  </head>
  <body>

    <!-- background image -->
<div class="main-background">
<div class="background-image" img src="url(https://calendarmedia.blob.core.windows.net/assets/f4712d39-47eb-4522-8899-507068ef2c1a.jpg)" alt="">
</div>
</div>

  <h1>RACKING</h1>

<div id="demoparagraph">
<p><strong>Racking</strong></p>
<p>All balls should be frozen (touching) as
tightly as possible. Balls are racked with the front ball
on the foot spot and the 8-ball in the center. The
breaking player may request and receive a rerack.</p>

<p><img src="http://leagues.playpool.net/images/print_table_diagram.gif" alt="foot spot"></p>


<p>Quo debet vivendo ex. Qui ut admodum senserit partiendo. Id adipiscing disputando eam, sea id magna pertinax concludaturque. Ex ignota epicurei quo, his ex doctus delenit fabellas, erat timeam cotidieque sit in. Vel eu soleat voluptatibus, cum cu exerci mediocritatem. Malis legere at per, has brute putant animal et, in consul utamur usu.</p>
<p>Te has amet modo perfecto, te eum mucius conclusionemque, mel te erat deterruisset. Duo ceteros phaedrum id, ornatus postulant in sea. His at autem inani volutpat. Tollit possit in pri, platonem persecuti ad vix, vel nisl albucius gloriatur no.</p>
</div>


  </body>
</html>
