<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>

    <!-- background image -->
<div class="main-background">
<div class="background-image" img src="url(https://calendarmedia.blob.core.windows.net/assets/f4712d39-47eb-4522-8899-507068ef2c1a.jpg)" alt="">
</div>
</div>

  </body>
</html>
