<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="/main.css">
  </head>

    <div class="row-button">

        <div class="back-button">
            <a href="/billiards/eight"><button class="shop-button">BACK</button></a>
        </div>

        <div class="zoom">
            <a href="/billiards/foot"><button class="rdy-break-button"><br/>TOP SPIN WITH LEFT SIDE SPIN?</button></a>
        </div>

        <div class="home-button">
            <a href="/billiards"><button class="shop-button">HOME</button></a>
        </div>

    </div>

  <body class="english-background">

    <div id="two-column">

        <!-- <p><strong>English</strong></p> -->
        <p><p><strong>English</strong></p>In billiards, “english” is applied by striking the cue ball with the cue stick slightly off-center. This causes the ball to spin and take a curved path, rather than straight. </p>

        <p><img src="https://media2.giphy.com/media/aThp7XffEBD2M/giphy.gif" alt="foot spot" style="width:250px;height:250px;"></p><br/>


        <p><p><strong>Spots on Cue Ball</strong></p>Some cue balls have red spots (SEE DIAGRAM). Using these marks allows a player to visualize where to strike the cue ball. How fast and the location in which the cue ball is hit, determines where the cue ball goes.</p>

        <p><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/d2/Snooker_effect.svg/200px-Snooker_effect.svg.png" alt="breaking" style="width:250px;height:250px;"></p>



    </div>

  </body>
</html>
