<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>

    <link href="https://fonts.googleapis.com/css?family=Sorts+Mill+Goudy" rel="stylesheet">
    <link rel="stylesheet" href="/main.css">

  </head>

  <body>

    <h1>BREAK & RUN</h1>

    <div class="main-button-container">

<div class="zoom">
<a href="/billiards/eight"><button class="eight-button"><br/>EIGHT<br/>BALL</button></a>
</div>

    <h3>SELECT ONE</h3>

<div class="zoom">
<a href="/billiards/nine"><button class="nine-button"><br/>NINE<br/>BALL</button></a>
</div>

</div>
 </body>

 <div class="footer-container">

  <div class="link1">
   <a href="https://www.linkedin.com/in/jonbonnet/"><button>Linkedin</button></a>
  </div>

  <div class="footer">
    GA WDI - JON BONNET
  </div>

  <div class="link2">
   <a href="https://github.com/Jbonnet303/finalproject"><button>GitHub</button></a>
 </div>

  </div>

</html>
