<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="/main.css">
  </head>
  <body>

      <div class='new-container'>

          <form action='/billiards/prize' method='POST'>

              Name: <br/> <input type="text" name="name" /><br/>
              Image: <br/> <input type="text" name="img" /><br />
              Description: <br/> <input type="text" name="description" /><br/>
              Quantity: <br/> <input type="text" name="quantity" /><br/>
              <div class="new">
                  <input type="submit" value="Create Prize" />
              </div>

          </form>

      </div>

  </body>
</html>
