<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
      <link rel="stylesheet" href="/main.css">
  </head>

      <h2>Pick Your Prize!</h2>

        <a href="/billiards/new"><button class="prize-button">New Prize</button></a>

  <body class="prize-background">

      <div class="prize-container">

            <% for(let i = 0; i < billiards.length; i++){ %>
            <a href="/billiards/prize/<%=billiards[i].id%>"</a><br/>
            <img src="<%=billiards[i].img%>"><br/>
            <%=billiards[i].name; %><br/>

              <% } %>

      </div>

  </body>
</html>
