<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
      <link rel="stylesheet" href="/main.css">
  </head>

  <div class="row-button">

      <div class="back-button">
          <a href="/billiards/run"><button class="shop-button">BACK</button></a>
      </div>

      <a href="/billiards/new"><button class="prize-button">NEW PRIZE</button></a>

      <div class="home-button">
          <a href="/billiards"><button class="shop-button">HOME</button></a>
      </div>

  </div>

      <h3>PICK A PRIZE</h3>

  <body class="prize-background">

      <div class="prize-container">

            <% for(let i = 0; i < billiards.length; i++){ %>
            <a href="/billiards/prize/<%=billiards[i].id%>"</a><br/>
            <img src="<%=billiards[i].img%>"><br/>
            <%=billiards[i].name; %><br/>

              <% } %>

      </div>

  </body>
</html>
