<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="/main.css">
  </head>
  <body>

    <div class="zoom">
        <a href="/billiards/prize"><button class="rdy-break-button"><br/>PRIZE</button></a>
    </div>

    <div class="zoom">
        <a href="/billiards/slow"><button class="rdy-break-button"><br/>SLOW MO</button></a>
    </div>

    <div class="row-button">

        <div class="back-button">
            <a href="/billiards/english"><button class="back-button">BACK</button></a>
        </div>

        <div class="home-button">
            <a href="/billiards"><button class="home-button">HOME</button></a>
        </div>

    </div>

    <div id="two-column">

        <p><p><strong>Finishing Strong</strong><br/>
          <ul>
            <li>Before every shot, make sure you cue is chalked properly.</li><br/>
            <li>Make sure your shooting stance is natural and comfortable along with a smooth, rhythmic motion. Try not to ever rush your stroke.</li><br/>
            <li>Three to five practice strokes are plenty. More than that, and you force yourself out of rhythm, and begin to put unnecessary pressure on yourself.</li><br/>
            <li>When contemplating where to send the cue ball next, make center table your first option.</li><br/>
            <li>The world does not come to an end when you miss a shot, or miss position, or lose a game or lose the session. Lighten up. You'll enjoy yourself more, and win more often.</li></p></p>
          </ul>

        <p><p><strong>There</strong></p>Now that you're understanding english a little better and playing at a comfortable speed you should be laser focused like this gentelman right below. With these five tips hopefully you finish ahead of your opponent.</p>

        <!-- <p><img src="https://media1.giphy.com/media/10YZxJSZ2gVKNO/giphy.gif" alt="foot spot" style="width:450px;height:250px;"></p><br/> -->

    </div>

  </body>
</html>
