<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="/main.css">
  </head>
  <body class="run-background">

    <div class="row-button">

        <div class="back-button">
            <a href="/billiards/english"><button class="back-button">BACK</button></a>
        </div>

        <div class="home-button">
            <a href="/billiards"><button class="home-button">HOME</button></a>
        </div>

    </div>

    <div class="rowtwo-button"

        <div class="zoom">
            <a href="/billiards/prize"><button class="rdy-break-button"><br/>PRIZE</button></a>
        </div>

        <div class="zoom">
            <a href="/billiards/slow"><button class="rdy-break-button"><br/>SLOW MO</button></a>
        </div>

    </div>

    <div id="two-column">

        <p><strong>Finishing Strong</strong><br/>
          <p>Now that you're great at breaking and maneuvering the cue ball, here is how to tell you've won the game. When all of the balls (solids or stripes) have been pocketed, it's time to focus on the 8 ball. When pocketing the 8 ball, you have to choose the pocket you intend the ball to go into. You can call attention to this pocket by placing some item next to it. If you hit the 8 ball in to that pocket, without scratching, CONGRATULATIONS! You've won the game!</p>

        <p><p><strong>ONE LAST THING!</strong></p>Remember to keep one foot on the floor at all times.</p>

        <!-- <p><img src="https://media1.giphy.com/media/10YZxJSZ2gVKNO/giphy.gif" alt="foot spot" style="width:450px;height:250px;"></p><br/> -->

    </div>

  </body>
</html>
